@import "./variables";
@import "./mixins";

.excel__header{
    background-color: $header-background;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;

    height: $header-height;
    margin: 0;
    padding: 8px 4px 0;
    display: flex;
    justify-content: space-between;

    & input{
           margin: 0;
    padding: 2px 7px;
    min-width: 1px;
    color: #000;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 20px;
    font-size: 18px;
    font-weight: 1000;
    line-height: 22px;
    outline: none;

        &:hover{
            border: 2px solid rgb(34, 145, 248);
        }
    }

    

    .button{
        @include button(red);
    }
}