@import "./variables";
@import "./mixins";

.excel__toolbar{
    position: absolute;
    right: 0;
    left: 0;
    top: $header-height;
    height: $toolbar-height;
    // background-color: cadetblue;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    display: flex;
    padding: 6px 8px;

    .button{
        @include button(green);
    }
}